/*通用头部导航*/
.header{
    background: #fff;
}
.header .logo{
    position: absolute;
    top:35px;
    left: 50px;
    display: block;
    font-size: 36px;
    font-weight: 600;
    color: #c60023;

}
.header .logo:hover{
    text-decoration: none;
}

.header .search-con{
    padding: 40px 0 30px 250px;

}

.header .search-con .search-input{
    width: 550px;
    height: 40px;
    line-height: 40px;
    padding:0px 20px;
    outline: none;
    border:2px solid #c60023;
    font-size: 15px;
}

.header .search-con .search-btn{
    position: absolute;
    height: 44px;
    width: 80px;
    border-radius: 0;
}
.header .search-con .search-btn:active{
    outline: none;
    color: #fff;
}
.header .search-con .search-btn:hover{
    outline: none;
    color: #fff;
}



/*panel*/
.panel{
    padding: 10px;
    margin-bottom: 10px;
    background: #ffffff;
    float: left;
    width: 100%;
}

.panel .panel-title{
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #666;
    border-bottom: 1px solid #eee;
}


.panel .panel-body{
    padding: 10px;
    overflow: hidden;
}








